.header{
    margin:0;
    list-style-type:none;
    display:flex;
    justify-content:center;
    padding:0;
    overflow:hidden;
    width:100%;
    top:0;
    background-color:rgb(38, 38, 41);
    font-size:large;
    
}
li{float:left;}
.header .nav-active{
    background-color:lightyellow ;
    color:rgb(38, 38, 41);
    font-size:larger;
}
.header a{
    display:block;
    color:lightyellow;
    text-align:center;
    padding:12px 16px;
    text-decoration:none;
}

.header a:hover{
    background-color:lightgray;
    color:darkslategray;
}

.text-center{transition:position .1s;}
.card{
    background-color:#f8f9fa;
    border:1px solid #dee2e6;
    border-radius:0.25rem;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    margin:20px auto;
    padding:20px;
    max-width:1000px;
}
.card-title{
    font-size:5rem;
    margin-bottom:10px;
    color:rgb(1, 0, 36)
}
.card-body{
    font-size:1.5rem;
    color:#495057;
}
.card-text{margin-bottom:15px;}

.leftcolumn{
  float:left;
  width:65%;
  height:100%;
  margin-left:5%;
}
.rightcolumn{
  float:right;
  width:20%;
  background-color:#f1f1f1;
  margin-right:5%;
}
@media screen and (max-width:750px){
  .leftcolumn, .rightcolumn{
    float:none;
    width:100%;
    border-top:10px;
  }
}